<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          Email: {{ site.company_email }}<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="/about">About</a></p>
        <p><a href="/blog">Blog</a></p>
        <p><a href="/contact">Contact</a></p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> Socialize</h3>
        <div id="social-icons">
          {% if site.github_link %}
            <a href="{{ site.github_link }}" class="btn-group github" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          {% endif %}

          {% if site.mastodon_link %}
            <a href="{{ site.mastodon_link }}" class="btn-group mastodon" target="_blank">
              <i class="fa fa-mastodon"></i>
            </a>
          {% endif %}

          {% if site.twitter_link %}
            <a href="{{ site.twitter_link }}" class="btn-group twitter" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          {% endif %}

          {% if site.bluesky_link %}
            <a href="{{ site.bluesky_link }}" class="btn-group bluesky" target="_blank">
              <i class="fa fa-bluesky"></i>
            </a>
          {% endif %}

          {% if site.facebook_link %}
            <a href="{{ site.facebook_link }}" class="btn-group facebook" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          {% endif %}

          {% if site.linkedin_link %}
            <a href="{{ site.linkedin_link }}" class="btn-group linkedin" target="_blank">
              <i class="fa fa-linkedin-square"></i>
            </a>
          {% endif %}
        </div>
      </div>    
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="https://elmundoesimperfecto.com/">ElMundoEsImperfecto</a>. <br>Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p>
  </div>
</footer>