---
layout: default_style
---

<!-- Main Container -->

<div class="row container-kamn">
  <img src="{{ page.image | default: 'assets/img/slider/slide1.jpg' }}" class="blog-post" alt="Feature-img" align="right" width="100%">
</div>

<div id="banners"></div>
<div class="container">
  <div class="row">
    <div class="side-left col-sm-4 col-md-4">
      <h3 class="lead">{{ page.title }}</h3><hr>

      <p>{{ page.description }}</p>
    </div>
    <div class="col-sm-8 col-md-8">
      {{ content }}
    </div>
  </div>
</div>

<!--End Main Container -->
